.flows_raspberrypi.json.backup
[{"type":"tab","id":"b51f486e.4ae0b8","label":"Flow 1"},{"id":"128dff9d.ed72","type":"inject","z":"b51f486e.4ae0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":284,"y":128,"wires":[[]]},{"id":"dc4a5ca8.23b5a","type":"status","z":"b51f486e.4ae0b8","name":"","scope":null,"x":315,"y":331,"wires":[[]]},{"id":"15a0830d.ea5f7d","type":"mqtt in","z":"b51f486e.4ae0b8","name":"","topic":"","x":728,"y":178,"wires":[[]]},{"id":"51a53f70.ae5ac","type":"inject","z":"b51f486e.4ae0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212,"y":256,"wires":[["5fadbae5.a05244"]]},{"id":"5fadbae5.a05244","type":"http response","z":"b51f486e.4ae0b8","name":"","x":505,"y":224,"wires":[]}]