.flows_raspberrypi3.json.backup
[{"id":"e83f0c23.d5803","type":"tab","label":"Jarvis"},{"id":"e96680b6.aa4cb","type":"mqtt-broker","z":"","broker":"192.168.0.12","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fbe1f3c3.54d26","type":"twitter-credentials","z":"","screen_name":"@AChamberlain"},{"id":"d3bda3ae.fc14e","type":"mongodb","z":"","hostname":"192.168.0.12","port":"27017","db":"test","name":"Mongo on Mac"},{"id":"6c36ff21.ec24d","type":"switch","z":"e83f0c23.d5803","name":"living room","property":"value1","propertyType":"msg","rules":[{"t":"eq","v":"living room","vt":"str"}],"checkall":"true","outputs":1,"x":490.4044189453125,"y":88.60702800750732,"wires":[["a49af365.dd49e"]]},{"id":"a49af365.dd49e","type":"switch","z":"e83f0c23.d5803","name":"lights","property":"value2","propertyType":"msg","rules":[{"t":"eq","v":"lights","vt":"str"}],"checkall":"true","outputs":1,"x":639.9803771972656,"y":151.4499831199646,"wires":[["ea62915b.f78e5","8bd908f5.3be908"]]},{"id":"ea62915b.f78e5","type":"switch","z":"e83f0c23.d5803","name":"on","property":"value3","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","outputs":1,"x":793.4999847412109,"y":104.44998168945312,"wires":[["7be99314.d4492c"]]},{"id":"8bd908f5.3be908","type":"switch","z":"e83f0c23.d5803","name":"off","property":"value3","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":1,"x":791.5,"y":200.44998168945312,"wires":[["66fc647a.f1896c"]]},{"id":"7be99314.d4492c","type":"change","z":"e83f0c23.d5803","name":"set code","rules":[{"t":"set","p":"payload","pt":"msg","to":"4194325","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":40,"wires":[["120b0212.20d97e"]]},{"id":"66fc647a.f1896c","type":"change","z":"e83f0c23.d5803","name":"set code","rules":[{"t":"set","p":"payload","pt":"msg","to":"4194304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["6d0b3cdb.407474"]]},{"id":"6d0b3cdb.407474","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1240,"y":300,"wires":[[],[],[]]},{"id":"120b0212.20d97e","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1240,"y":40,"wires":[[],[],[]]},{"id":"3159ec0e.39b0b4","type":"http in","z":"e83f0c23.d5803","name":"living room lights on","url":"/home/livingroom/lights/on","method":"get","swaggerDoc":"","x":110,"y":40,"wires":[["7be99314.d4492c","69a9279d.0906e8"]]},{"id":"ce541662.862758","type":"http in","z":"e83f0c23.d5803","name":"living rooms lights off","url":"/home/livingroom/lights/off","method":"get","swaggerDoc":"","x":126.36781311035156,"y":302.924108505249,"wires":[["66fc647a.f1896c","f64487ad.0133a8"]]},{"id":"69a9279d.0906e8","type":"http response","z":"e83f0c23.d5803","name":"","x":312.8333282470703,"y":95,"wires":[]},{"id":"f64487ad.0133a8","type":"http response","z":"e83f0c23.d5803","name":"","x":307.0759086608887,"y":362.92410469055176,"wires":[]},{"id":"5ee66350.f5543c","type":"trigger","z":"e83f0c23.d5803","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","name":"","x":480,"y":440,"wires":[["1163f61d.26c7ea","45f449ce.0bff98"]]},{"id":"1163f61d.26c7ea","type":"switch","z":"e83f0c23.d5803","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":710,"y":400,"wires":[["7be99314.d4492c"]]},{"id":"45f449ce.0bff98","type":"switch","z":"e83f0c23.d5803","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":710,"y":480,"wires":[["66fc647a.f1896c"]]},{"id":"e3c95a1a.283388","type":"function","z":"e83f0c23.d5803","name":"Interval","func":"var a = 0\nvar myVar = setInterval(function(){ \n    node.status({text:\"Just text status:\" + a}); \n   // node.send(msg);\n  a++;\n}, 2000);\n\n","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["5ee66350.f5543c"]]},{"id":"2501999f.307f96","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":440,"wires":[["e3c95a1a.283388"]]},{"id":"70baed70.1ee644","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1000,"y":160,"wires":[["7be99314.d4492c"]]},{"id":"b20ef8fe.f83c38","type":"mqtt in","z":"e83f0c23.d5803","name":"Temperature","topic":"PiZeroClear/Temperature","qos":"2","broker":"e96680b6.aa4cb","x":90,"y":520,"wires":[["ce0a60da.8cf5b"]]},{"id":"29e87d52.4799a2","type":"mqtt in","z":"e83f0c23.d5803","name":"Light","topic":"PiZeroClear/Light","qos":"2","broker":"e96680b6.aa4cb","x":70,"y":580,"wires":[["f99b0847.d37af8"]]},{"id":"ce0a60da.8cf5b","type":"function","z":"e83f0c23.d5803","name":"Persist Temperature","func":"flow.set('temperature',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[[]]},{"id":"f99b0847.d37af8","type":"function","z":"e83f0c23.d5803","name":"Persist Light","func":"flow.set('light',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":580,"wires":[[]]},{"id":"7310c88c.3a24b8","type":"mqtt in","z":"e83f0c23.d5803","name":"Colour","topic":"PiZeroClear/Colour","qos":"2","broker":"e96680b6.aa4cb","x":70,"y":640,"wires":[["f57d38fe.c48168"]]},{"id":"f57d38fe.c48168","type":"function","z":"e83f0c23.d5803","name":"Persist Colour","func":"flow.set('colour',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":640,"wires":[["cd4cd35e.15077"]]},{"id":"74bb0822.11ba38","type":"http in","z":"e83f0c23.d5803","name":"GET Temperature","url":"/temperature","method":"get","swaggerDoc":"","x":110,"y":780,"wires":[["e02aa542.836c58"]]},{"id":"e02aa542.836c58","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('temperature') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["145f8fb1.11743"]]},{"id":"145f8fb1.11743","type":"http response","z":"e83f0c23.d5803","name":"response","x":520,"y":780,"wires":[]},{"id":"f5d73679.4635a8","type":"http in","z":"e83f0c23.d5803","name":"GET Colour","url":"/Colour","method":"get","swaggerDoc":"","x":90,"y":840,"wires":[["896cd9d9.3edb58"]]},{"id":"9177a453.5f9ab8","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<head><body bgcolor='\" + msg.colour + \"'></body></head>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":840,"wires":[["e5b272a2.e24af"]]},{"id":"e5b272a2.e24af","type":"http response","z":"e83f0c23.d5803","name":"response","x":680,"y":840,"wires":[]},{"id":"9db8ab8b.fc5f48","type":"http in","z":"e83f0c23.d5803","name":"GET Light","url":"/Light","method":"get","swaggerDoc":"","x":80,"y":900,"wires":[["1e367b2e.2f89b5"]]},{"id":"1e367b2e.2f89b5","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('light') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":900,"wires":[["8d170061.a8fd8"]]},{"id":"8d170061.a8fd8","type":"http response","z":"e83f0c23.d5803","name":"response","x":460,"y":900,"wires":[]},{"id":"1e3ae294.66b09d","type":"http in","z":"e83f0c23.d5803","name":"POST Alexa","url":"/alexa","method":"post","swaggerDoc":"","x":90,"y":200,"wires":[["fab74091.4d71b","53ca0400.ff980c"]]},{"id":"fab74091.4d71b","type":"function","z":"e83f0c23.d5803","name":"create response","func":"// create response template\nresponseJSON = {\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {},\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"I'm sorry I did'nt understand your question\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"PlainText\",\n        \"text\": \"Can I help you with anything else?\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n};\n\ntrigger = msg.payload.request.intent.slots.trigger.value;\nperson = msg.payload.request.intent.slots.person.value;\ndatatwo = msg.payload.request.intent.slots.datatwo.value;\ndataone = msg.payload.request.intent.slots.dataone.value;\n\nif (trigger == \"bedroom\") {\n    responseJSON.response.outputSpeech.text = \"The Temperature in \"+ person + \" \" + trigger + \" is \" + flow.get(\"temperature\") + \" degrees\";\n} else if (trigger == \"living room\" && dataone == \"lights\") {\n    msg.value1 = trigger;\n    msg.value2 = dataone;\n    msg.value3 = datatwo;\n    responseJSON.response.outputSpeech.text = \"Turning the \" + trigger + \" \" + dataone + \" \" + datatwo; \n}\n\n// add modified payload and headers for response\nmsg.payload = JSON.stringify(responseJSON,[\"version\",\"sessionAttributes\",\"supportedHoriscopePeriods\",\"daily\",\"weekly\",\"monthly\",\"response\",\"outputSpeech\",\"type\",\"text\",\"card\",\"title\",\"content\",\"reprompt\",\"shouldEndSession\"]);\nmsg.headers = { \"Content-Type\": \"application/json;charset=UTF-8\",\"Content-Length\":\"\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["93ba36a5.dbfdb8","6c36ff21.ec24d"]]},{"id":"93ba36a5.dbfdb8","type":"http response","z":"e83f0c23.d5803","name":"alexa response","x":500,"y":240,"wires":[]},{"id":"53ca0400.ff980c","type":"debug","z":"e83f0c23.d5803","name":"","active":false,"console":"false","complete":"false","x":270,"y":240,"wires":[]},{"id":"127589db.9e5b36","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1000,"y":420,"wires":[["66fc647a.f1896c"]]},{"id":"cd4cd35e.15077","type":"debug","z":"e83f0c23.d5803","name":"","active":false,"console":"false","complete":"false","x":470,"y":640,"wires":[]},{"id":"896cd9d9.3edb58","type":"function","z":"e83f0c23.d5803","name":"rgb to hex","func":"rgb = flow.get('colour');\n\nrgb = rgb.match(/^rgba?[\\s+]?\\([\\s+]?(\\d+)[\\s+]?,[\\s+]?(\\d+)[\\s+]?,[\\s+]?(\\d+)[\\s+]?/i);\nmsg.colour =  (rgb && rgb.length === 4) ? \"#\" +\n  (\"0\" + parseInt(rgb[1],10).toString(16)).slice(-2) +\n  (\"0\" + parseInt(rgb[2],10).toString(16)).slice(-2) +\n  (\"0\" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["9177a453.5f9ab8"]]},{"id":"c55c0215.0aa6d","type":"mqtt in","z":"e83f0c23.d5803","name":"Pressure","topic":"PiZeroClear/Pressure","qos":"2","broker":"e96680b6.aa4cb","x":80,"y":700,"wires":[["2d046dac.93e162"]]},{"id":"2d046dac.93e162","type":"function","z":"e83f0c23.d5803","name":"Persist Pressure","func":"flow.set('pressure',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":700,"wires":[[]]},{"id":"fdb09d1d.7024e","type":"http in","z":"e83f0c23.d5803","name":"GET Pressure","url":"/pressure","method":"get","swaggerDoc":"","x":90,"y":960,"wires":[["1b645359.1017cd"]]},{"id":"1b645359.1017cd","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('pressure') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":960,"wires":[["1d20de09.256bb2"]]},{"id":"1d20de09.256bb2","type":"http response","z":"e83f0c23.d5803","name":"response","x":480,"y":960,"wires":[]},{"id":"433dd700.47a1e8","type":"twitter in","z":"e83f0c23.d5803","twitter":"fbe1f3c3.54d26","tags":"","user":"true","name":"My Twitter","topic":"tweets","inputs":0,"x":720,"y":580,"wires":[["aab5c106.cfc03"]]},{"id":"2a684b21.b4cda4","type":"debug","z":"e83f0c23.d5803","name":"","active":false,"console":"false","complete":"sentiment","x":1200,"y":540,"wires":[]},{"id":"aab5c106.cfc03","type":"sentiment","z":"e83f0c23.d5803","name":"twitter sentiment","x":950,"y":580,"wires":[["2a684b21.b4cda4","2af1b152.3ede9e"]]},{"id":"2af1b152.3ede9e","type":"debug","z":"e83f0c23.d5803","name":"","active":false,"console":"false","complete":"false","x":1190,"y":620,"wires":[]},{"id":"637d3d95.3c1c24","type":"mongodb in","z":"e83f0c23.d5803","mongodb":"d3bda3ae.fc14e","name":"","collection":"example1","operation":"find","x":950,"y":720,"wires":[["70272009.33106"]]},{"id":"70272009.33106","type":"debug","z":"e83f0c23.d5803","name":"","active":true,"console":"false","complete":"false","x":1190,"y":720,"wires":[]},{"id":"15eddfce.46013","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":710,"y":720,"wires":[["637d3d95.3c1c24"]]}]