flows_raspberrypi.json
[{"type":"tab","id":"b51f486e.4ae0b8","label":"Flow 1"},{"id":"3ad083d2.c52f7c","type":"mqtt-broker","z":"b51f486e.4ae0b8","broker":"adamandlindsey.co.uk","port":"1883","clientid":"RaspberryPi3","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"128dff9d.ed72","type":"inject","z":"b51f486e.4ae0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":284,"y":128,"wires":[[]]},{"id":"dc4a5ca8.23b5a","type":"status","z":"b51f486e.4ae0b8","name":"","scope":null,"x":638,"y":419,"wires":[[]]},{"id":"15a0830d.ea5f7d","type":"mqtt in","z":"b51f486e.4ae0b8","name":"","topic":"piface","broker":"3ad083d2.c52f7c","x":213,"y":405,"wires":[["5fadbae5.a05244"]]},{"id":"51a53f70.ae5ac","type":"inject","z":"b51f486e.4ae0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212,"y":256,"wires":[["5fadbae5.a05244"]]},{"id":"5fadbae5.a05244","type":"http response","z":"b51f486e.4ae0b8","name":"","x":505,"y":224,"wires":[]}]