flows_raspberrypi3.json
[{"id":"e83f0c23.d5803","type":"tab","label":"Jarvis"},{"id":"a36bc775.f885b8","type":"tab","label":"Examples"},{"id":"33378a39.25d5a6","type":"tab","label":"Angular Example"},{"id":"e96680b6.aa4cb","type":"mqtt-broker","z":"","broker":"192.168.0.16","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fbe1f3c3.54d26","type":"twitter-credentials","z":"","screen_name":"@AChamberlain"},{"id":"d3bda3ae.fc14e","type":"mongodb","z":"","hostname":"192.168.0.12","port":"27017","db":"test","name":"Mongo on Mac"},{"id":"61778fe2.9ac27","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d597107c.2bd83","type":"ui_group","z":"","name":"Mabel's Room","tab":"61778fe2.9ac27","order":2,"disp":true,"width":"6"},{"id":"7e877092.4c999","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"34255daf.30d572","type":"ui_group","z":"","name":"Living Room","tab":"61778fe2.9ac27","order":3,"disp":true,"width":"6"},{"id":"154c3824.f9de38","type":"ui_group","z":"","name":"Sentiment","tab":"","disp":true,"width":"6"},{"id":"b28d7071.40795","type":"ui_tab","z":"","name":"Raspberry Pi","icon":"dashboard"},{"id":"bf42bbd2.214468","type":"ui_group","z":"","name":"Diagnostics","tab":"b28d7071.40795","disp":true,"width":"6"},{"id":"c7d0308d.cb953","type":"ui_group","z":"","name":"Front Room","tab":"61778fe2.9ac27","order":4,"disp":true,"width":"6"},{"id":"23b9a0c2.4b415","type":"ui_group","z":"","name":"Heating","tab":"61778fe2.9ac27","order":1,"disp":true,"width":"6"},{"id":"4e90f6db.fd0d78","type":"ui_group","z":"","name":"Outside","tab":"61778fe2.9ac27","disp":true,"width":"6"},{"id":"6c36ff21.ec24d","type":"switch","z":"e83f0c23.d5803","name":"living room","property":"value1","propertyType":"msg","rules":[{"t":"eq","v":"living room","vt":"str"}],"checkall":"true","outputs":1,"x":490.4044189453125,"y":88.60702800750732,"wires":[["a49af365.dd49e"]]},{"id":"a49af365.dd49e","type":"switch","z":"e83f0c23.d5803","name":"lights","property":"value2","propertyType":"msg","rules":[{"t":"eq","v":"lights","vt":"str"}],"checkall":"true","outputs":1,"x":639.9803771972656,"y":151.4499831199646,"wires":[["ea62915b.f78e5","8bd908f5.3be908"]]},{"id":"ea62915b.f78e5","type":"switch","z":"e83f0c23.d5803","name":"on","property":"value3","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","outputs":1,"x":793.4999847412109,"y":104.44998168945312,"wires":[["7be99314.d4492c"]]},{"id":"8bd908f5.3be908","type":"switch","z":"e83f0c23.d5803","name":"off","property":"value3","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":1,"x":791.5,"y":200.44998168945312,"wires":[["66fc647a.f1896c"]]},{"id":"7be99314.d4492c","type":"change","z":"e83f0c23.d5803","name":"set code","rules":[{"t":"set","p":"payload","pt":"msg","to":"4194325","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":40,"wires":[["120b0212.20d97e"]]},{"id":"66fc647a.f1896c","type":"change","z":"e83f0c23.d5803","name":"set code","rules":[{"t":"set","p":"payload","pt":"msg","to":"4194304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["6d0b3cdb.407474"]]},{"id":"6d0b3cdb.407474","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1200,"y":300,"wires":[[],[],[]]},{"id":"120b0212.20d97e","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1220,"y":40,"wires":[[],[],[]]},{"id":"3159ec0e.39b0b4","type":"http in","z":"e83f0c23.d5803","name":"living room lights on","url":"/home/livingroom/lights/on","method":"get","swaggerDoc":"","x":110,"y":40,"wires":[["7be99314.d4492c","69a9279d.0906e8"]]},{"id":"ce541662.862758","type":"http in","z":"e83f0c23.d5803","name":"living rooms lights off","url":"/home/livingroom/lights/off","method":"get","swaggerDoc":"","x":126.36781311035156,"y":302.924108505249,"wires":[["66fc647a.f1896c","f64487ad.0133a8"]]},{"id":"69a9279d.0906e8","type":"http response","z":"e83f0c23.d5803","name":"","x":312.8333282470703,"y":95,"wires":[]},{"id":"f64487ad.0133a8","type":"http response","z":"e83f0c23.d5803","name":"","x":307.0759086608887,"y":362.92410469055176,"wires":[]},{"id":"5ee66350.f5543c","type":"trigger","z":"e83f0c23.d5803","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","name":"","x":480,"y":440,"wires":[["1163f61d.26c7ea","45f449ce.0bff98"]]},{"id":"1163f61d.26c7ea","type":"switch","z":"e83f0c23.d5803","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":710,"y":400,"wires":[["7be99314.d4492c"]]},{"id":"45f449ce.0bff98","type":"switch","z":"e83f0c23.d5803","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":710,"y":480,"wires":[["66fc647a.f1896c"]]},{"id":"e3c95a1a.283388","type":"function","z":"e83f0c23.d5803","name":"Interval","func":"var a = 0\nvar myVar = setInterval(function(){ \n    node.status({text:\"Just text status:\" + a}); \n   // node.send(msg);\n  a++;\n}, 2000);\n\n","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["5ee66350.f5543c"]]},{"id":"2501999f.307f96","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":440,"wires":[["e3c95a1a.283388"]]},{"id":"70baed70.1ee644","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1000,"y":160,"wires":[["7be99314.d4492c"]]},{"id":"29e87d52.4799a2","type":"mqtt in","z":"e83f0c23.d5803","name":"Light","topic":"PiZeroClear/Light","qos":"2","broker":"e96680b6.aa4cb","x":70,"y":580,"wires":[["f99b0847.d37af8","7fe37cdc.f2b234"]]},{"id":"ce0a60da.8cf5b","type":"function","z":"e83f0c23.d5803","name":"Persist Temperature","func":"flow.set('MabelsRoom',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":720,"wires":[[]]},{"id":"f99b0847.d37af8","type":"function","z":"e83f0c23.d5803","name":"Persist Light","func":"flow.set('light',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[[]]},{"id":"7310c88c.3a24b8","type":"mqtt in","z":"e83f0c23.d5803","name":"Colour","topic":"PiZeroClear/Colour","qos":"2","broker":"e96680b6.aa4cb","x":70,"y":640,"wires":[["f57d38fe.c48168"]]},{"id":"f57d38fe.c48168","type":"function","z":"e83f0c23.d5803","name":"Persist Colour","func":"flow.set('colour',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[[]]},{"id":"74bb0822.11ba38","type":"http in","z":"e83f0c23.d5803","name":"GET Temperature","url":"/temperature","method":"get","swaggerDoc":"","x":130,"y":1040,"wires":[["e02aa542.836c58"]]},{"id":"e02aa542.836c58","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('temperature') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1040,"wires":[["145f8fb1.11743"]]},{"id":"145f8fb1.11743","type":"http response","z":"e83f0c23.d5803","name":"response","x":540,"y":1040,"wires":[]},{"id":"f5d73679.4635a8","type":"http in","z":"e83f0c23.d5803","name":"GET Colour","url":"/Colour","method":"get","swaggerDoc":"","x":110,"y":1100,"wires":[["896cd9d9.3edb58"]]},{"id":"9177a453.5f9ab8","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<head><body bgcolor='\" + msg.colour + \"'></body></head>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1100,"wires":[["e5b272a2.e24af"]]},{"id":"e5b272a2.e24af","type":"http response","z":"e83f0c23.d5803","name":"response","x":720,"y":1100,"wires":[]},{"id":"9db8ab8b.fc5f48","type":"http in","z":"e83f0c23.d5803","name":"GET Light","url":"/Light","method":"get","swaggerDoc":"","x":100,"y":1160,"wires":[["1e367b2e.2f89b5"]]},{"id":"1e367b2e.2f89b5","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('light') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1160,"wires":[["8d170061.a8fd8"]]},{"id":"8d170061.a8fd8","type":"http response","z":"e83f0c23.d5803","name":"response","x":480,"y":1160,"wires":[]},{"id":"1e3ae294.66b09d","type":"http in","z":"e83f0c23.d5803","name":"POST Alexa","url":"/alexa","method":"post","swaggerDoc":"","x":90,"y":200,"wires":[["fab74091.4d71b","53ca0400.ff980c"]]},{"id":"fab74091.4d71b","type":"function","z":"e83f0c23.d5803","name":"create response","func":"// create response template\nresponseJSON = {\n  \"version\": \"1.0\",\n  \"sessionAttributes\": {},\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"I'm sorry I did'nt understand your question\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"PlainText\",\n        \"text\": \"Can I help you with anything else?\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n};\n\ntrigger = msg.payload.request.intent.slots.trigger.value;\nperson = msg.payload.request.intent.slots.person.value;\ndatatwo = msg.payload.request.intent.slots.datatwo.value;\ndataone = msg.payload.request.intent.slots.dataone.value;\n\nif (trigger == \"bedroom\") {\n    responseJSON.response.outputSpeech.text = \"The Temperature in \"+ person + \" \" + trigger + \" is \" + flow.get(\"temperature\") + \" degrees\";\n} else if (trigger == \"living room\" && dataone == \"lights\") {\n    msg.value1 = trigger;\n    msg.value2 = dataone;\n    msg.value3 = datatwo;\n    responseJSON.response.outputSpeech.text = \"Turning the \" + trigger + \" \" + dataone + \" \" + datatwo; \n}\n\n// add modified payload and headers for response\nmsg.payload = JSON.stringify(responseJSON,[\"version\",\"sessionAttributes\",\"supportedHoriscopePeriods\",\"daily\",\"weekly\",\"monthly\",\"response\",\"outputSpeech\",\"type\",\"text\",\"card\",\"title\",\"content\",\"reprompt\",\"shouldEndSession\"]);\nmsg.headers = { \"Content-Type\": \"application/json;charset=UTF-8\",\"Content-Length\":\"\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["93ba36a5.dbfdb8","6c36ff21.ec24d"]]},{"id":"93ba36a5.dbfdb8","type":"http response","z":"e83f0c23.d5803","name":"alexa response","x":500,"y":240,"wires":[]},{"id":"53ca0400.ff980c","type":"debug","z":"e83f0c23.d5803","name":"","active":false,"console":"false","complete":"false","x":270,"y":240,"wires":[]},{"id":"127589db.9e5b36","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1000,"y":420,"wires":[["66fc647a.f1896c"]]},{"id":"896cd9d9.3edb58","type":"function","z":"e83f0c23.d5803","name":"rgb to hex","func":"rgb = flow.get('colour');\n\nrgb = rgb.match(/^rgba?[\\s+]?\\([\\s+]?(\\d+)[\\s+]?,[\\s+]?(\\d+)[\\s+]?,[\\s+]?(\\d+)[\\s+]?/i);\nmsg.colour =  (rgb && rgb.length === 4) ? \"#\" +\n  (\"0\" + parseInt(rgb[1],10).toString(16)).slice(-2) +\n  (\"0\" + parseInt(rgb[2],10).toString(16)).slice(-2) +\n  (\"0\" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1100,"wires":[["9177a453.5f9ab8"]]},{"id":"c55c0215.0aa6d","type":"mqtt in","z":"e83f0c23.d5803","name":"Pressure","topic":"PiZeroClear/Pressure","qos":"2","broker":"e96680b6.aa4cb","x":80,"y":700,"wires":[["2d046dac.93e162"]]},{"id":"2d046dac.93e162","type":"function","z":"e83f0c23.d5803","name":"Persist Pressure","func":"flow.set('pressure',msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":700,"wires":[[]]},{"id":"fdb09d1d.7024e","type":"http in","z":"e83f0c23.d5803","name":"GET Pressure","url":"/pressure","method":"get","swaggerDoc":"","x":110,"y":1220,"wires":[["1b645359.1017cd"]]},{"id":"1b645359.1017cd","type":"function","z":"e83f0c23.d5803","name":"create body","func":"msg.payload = \"<h>\" + flow.get('pressure') + \"</h>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1220,"wires":[["1d20de09.256bb2"]]},{"id":"1d20de09.256bb2","type":"http response","z":"e83f0c23.d5803","name":"response","x":500,"y":1220,"wires":[]},{"id":"637d3d95.3c1c24","type":"mongodb in","z":"e83f0c23.d5803","mongodb":"d3bda3ae.fc14e","name":"Mongo","collection":"example1","operation":"find","x":1160,"y":580,"wires":[["93d42fc0.a1803"]]},{"id":"15eddfce.46013","type":"inject","z":"e83f0c23.d5803","name":"Get Leds","topic":"","payload":"{\"$or\":[{ \"grid\":{\"$exists\":false}}, {\"grid\":false}]}","payloadType":"json","repeat":"","crontab":"","once":true,"x":740,"y":580,"wires":[["2cb865ea.04bb0a"]]},{"id":"2cb865ea.04bb0a","type":"function","z":"e83f0c23.d5803","name":"extra parameters","func":"msg.limit = 0;\nmsg.skip = 0;\nmsg.projection = [\"grid\",\"Name\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":580,"wires":[["637d3d95.3c1c24"]]},{"id":"d8e5b719.d52218","type":"inject","z":"a36bc775.f885b8","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"x":100,"y":120,"wires":[["78b63576.3e7f9c"]]},{"id":"78b63576.3e7f9c","type":"exec","z":"a36bc775.f885b8","command":"uptime ","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu uptime and load","x":310,"y":240,"wires":[["9c2867fe.a11df8"],[],[]]},{"id":"9c2867fe.a11df8","type":"function","z":"a36bc775.f885b8","name":"format load","func":"\nmsg.payload = msg.payload.split(\"average\")[1].split(\" \")[1];\nmsg.payload = Number(msg.payload.replace(\",\",\"\"))*100;\n//msg.payload = {cpuLoad:msg.payload}\nmsg.topic= \"CPULoad\"\nreturn msg;","outputs":"1","noerr":0,"x":530,"y":120,"wires":[["cc6124a.2941fd8"]]},{"id":"30666944.f570b6","type":"comment","z":"a36bc775.f885b8","name":"Read cpu load (Linux, OSX and Pi)","info":"Reads the cpu load by parsing the result\nof the `uptime` command. Does not work on Windows.\n\nReads every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button\nto take you to the \nQuickstart dashboard for your flow.\n","x":320,"y":40,"wires":[]},{"id":"530814af.9ee00c","type":"inject","z":"a36bc775.f885b8","name":"minute tick","topic":"tempC","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"x":870,"y":100,"wires":[["f9dea143.d430b"]]},{"id":"f9dea143.d430b","type":"exec","z":"a36bc775.f885b8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu temperature","x":1100,"y":200,"wires":[["11b6d0eb.8d03ff"],[],[]]},{"id":"11b6d0eb.8d03ff","type":"function","z":"a36bc775.f885b8","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\n//msg.payload = cpuTempC:msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":1350,"y":120,"wires":[["57239a0b.420794"]]},{"id":"1bc28272.63092e","type":"comment","z":"a36bc775.f885b8","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":1120,"y":40,"wires":[]},{"id":"a70116d4.851238","type":"http response","z":"a36bc775.f885b8","name":"http out","x":820,"y":560,"wires":[]},{"id":"10b3640a.cce28c","type":"http in","z":"a36bc775.f885b8","name":"","url":"/data","method":"get","swaggerDoc":"","x":200,"y":580,"wires":[["76a63ca.deb92c4"]]},{"id":"f0a1e532.05f478","type":"template","z":"a36bc775.f885b8","name":"Page Template","field":"","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nHello there <br />\n\nAltitude: {{data.altitude}}<br />\nConcavity: {{data.concavity}}","x":655,"y":498,"wires":[["a70116d4.851238","3f8865e6.4bf79a"]]},{"id":"1b85c392.cfe8cc","type":"inject","z":"a36bc775.f885b8","name":"","topic":"concavity","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":160,"y":480,"wires":[["76a63ca.deb92c4"]]},{"id":"76a63ca.deb92c4","type":"function","z":"a36bc775.f885b8","name":"Data buffer","func":"context.data = context.data || new Object();\nswitch (msg.topic) {\n    case \"concavity\":\n        context.data.concavity = msg.payload;\n        msg = null;\n        break;\n    case \"altitude\":\n        context.data.altitude = msg.payload;\n        msg = null;\n        break;\n    default:\n    \tmsg.data = context.data;\n}\nreturn msg;","outputs":1,"x":489,"y":496,"wires":[["f0a1e532.05f478"]]},{"id":"77285113.abc6f","type":"inject","z":"a36bc775.f885b8","name":"","topic":"altitude","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":200,"y":360,"wires":[["76a63ca.deb92c4"]]},{"id":"7c39bdd1.0cd954","type":"http in","z":"a36bc775.f885b8","name":"","url":"/web","method":"get","swaggerDoc":"","x":180,"y":660,"wires":[["4be9c554.b1c87c"]]},{"id":"4be9c554.b1c87c","type":"template","z":"a36bc775.f885b8","name":"Auto Update Script","field":"","fieldType":"msg","syntax":"mustache","template":"<script>\n    setInterval(function(){\t\n\t    var theUrl = \"http://localhost:1880/data\";\n\t    var xmlHttp = new XMLHttpRequest();\n\t    xmlHttp.open( \"GET\", theUrl, false );\n\t    xmlHttp.send( null );\n\t    document. getElementById('data')\n\t    \t.innerHTML = xmlHttp.responseText;\n    },2000);\n</script>\n<div id = 'data'>\n ... Loading ...\n</div>\n","x":535,"y":658,"wires":[["a70116d4.851238"]]},{"id":"3f8865e6.4bf79a","type":"debug","z":"a36bc775.f885b8","name":"","active":false,"console":"false","complete":"true","x":770,"y":360,"wires":[]},{"id":"93d42fc0.a1803","type":"template","z":"e83f0c23.d5803","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<body>\n    \nThis is the payload: {{payload}} !\n    \n</body>\n</html>\n\n","x":1330,"y":580,"wires":[[]]},{"id":"a2b0d5f4.e60b88","type":"http response","z":"33378a39.25d5a6","name":"","x":910,"y":200,"wires":[]},{"id":"fe9eb8dc.5f0a08","type":"template","z":"33378a39.25d5a6","name":"Index","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!-- index.html -->\n{{=<% %>=}}\n    <!DOCTYPE html>\n    <!-- define angular app -->\n    <html ng-app=\"scotchApp\">\n    <head>\n      <!-- SCROLLS -->\n      <!-- load bootstrap and fontawesome via CDN -->\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" />\n      <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css\" />\n\n      <!-- SPELLS -->\n      <!-- load angular and angular route via CDN -->\n      <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js\"></script>\n          <script src=\"//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js\"></script>\n      <script src=\"/angular/script.js\"></script>\n    </head>\n    <body ng-controller=\"mainController\">\n\n        <!-- HEADER AND NAVBAR -->\n        <header>\n            <nav class=\"navbar navbar-default\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"/ui\">Angular Routing Example</a>\n                </div>\n\n                <ul class=\"nav navbar-nav navbar-right\">\n                    <li><a href=\"#\"><i class=\"fa fa-home\"></i> Home</a></li>\n                    <li><a href=\"#about\"><i class=\"fa fa-shield\"></i> About</a></li>\n                    <li><a href=\"#contact\"><i class=\"fa fa-comment\"></i> Contact</a></li>\n                </ul>\n            </div>\n            </nav>\n        </header>\n\n        <!-- MAIN CONTENT AND INJECTED VIEWS -->\n        <div id=\"main\">\n\n            <!-- angular templating -->\n            <!-- this is where content will be injected -->\n            <div ng-view></div>\n\n        </div>\n\n    </body>\n    </html>\n<%={{ }}=%>\n","x":359,"y":69,"wires":[["a2b0d5f4.e60b88"]]},{"id":"e9a59ae9.e3ea28","type":"http in","z":"33378a39.25d5a6","name":"UI Index","url":"/angular","method":"get","swaggerDoc":"","x":142,"y":69,"wires":[["fe9eb8dc.5f0a08"]]},{"id":"933fd756.881928","type":"http in","z":"33378a39.25d5a6","name":"UI Application","url":"/angular/script.js","method":"get","swaggerDoc":"","x":130,"y":300,"wires":[["6a771880.5479a8"]]},{"id":"6a771880.5479a8","type":"template","z":"33378a39.25d5a6","name":"application","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// script.js\n\n    // create the module and name it scotchApp\n    // also include ngRoute for all our routing needs\n    var scotchApp = angular.module('scotchApp', ['ngRoute']);\n\n    // configure our routes\n    scotchApp.config(function($routeProvider) {\n        $routeProvider\n\n            // route for the home page\n            .when('/', {\n                templateUrl : 'pages/home.html',\n                controller  : 'mainController'\n            })\n\n            // route for the about page\n            .when('/about', {\n                templateUrl : 'pages/about.html',\n                controller  : 'aboutController'\n            })\n\n            // route for the contact page\n            .when('/contact', {\n                templateUrl : 'pages/contact.html',\n                controller  : 'contactController'\n            });\n    });\n\n    // create the controller and inject Angular's $scope\n    scotchApp.controller('mainController', function($scope) {\n        // create a message to display in our view\n        $scope.message = 'Everyone come and see how good I look!';\n    });\n\n    scotchApp.controller('aboutController', function($scope) {\n        $scope.message = 'Look! I am an about page.';\n    });\n\n    scotchApp.controller('contactController', function($scope) {\n        $scope.message = 'Contact us! JK. This is just a demo.';\n    });","x":350,"y":300,"wires":[["a2b0d5f4.e60b88"]]},{"id":"4d912d15.6f3cd4","type":"template","z":"33378a39.25d5a6","name":"UI Stylesheet","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"","x":340,"y":360,"wires":[["a2b0d5f4.e60b88"]]},{"id":"814fdd46.0e53a","type":"http in","z":"33378a39.25d5a6","name":"UI Style","url":"/angular/ui.css","method":"get","swaggerDoc":"","x":150,"y":360,"wires":[["4d912d15.6f3cd4"]]},{"id":"8abd6f56.f482e","type":"template","z":"33378a39.25d5a6","name":"Home","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"{{=<% %>=}}\n    <!-- home.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Home Page</h1>\n\n        <p>{{ message }}</p>\n    </div>\n<%={{ }}=%>\n","x":360,"y":113,"wires":[["a2b0d5f4.e60b88"]]},{"id":"544f3357.b3dfac","type":"http in","z":"33378a39.25d5a6","name":"UI Home","url":"/pages/home.html","method":"get","swaggerDoc":"","x":144,"y":113,"wires":[["8abd6f56.f482e"]]},{"id":"ed934e3d.b4978","type":"template","z":"33378a39.25d5a6","name":"About","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{=<% %>=}}\n    <!-- about.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>About Page</h1>\n        <p>{{message}}</p>\n    </div>\n<%={{ }}=%>","x":360,"y":155,"wires":[["a2b0d5f4.e60b88"]]},{"id":"963dd7fd.6727e8","type":"http in","z":"33378a39.25d5a6","name":"UI About","url":"/pages/about.html","method":"get","swaggerDoc":"","x":145,"y":156,"wires":[["ed934e3d.b4978"]]},{"id":"3561944f.4a557c","type":"template","z":"33378a39.25d5a6","name":"Contact","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"{{=<% %>=}}\n    <!-- contact.html -->\n    <div class=\"jumbotron text-center\">\n        <h1>Contact Page</h1>\n\n        <p>{{ message }}</p>\n    </div>\n<%={{ }}=%>\n","x":357,"y":199,"wires":[["a2b0d5f4.e60b88"]]},{"id":"2fd754df.70a59c","type":"http in","z":"33378a39.25d5a6","name":"UI Contact","url":"/pages/contact.html","method":"get","swaggerDoc":"","x":142,"y":200,"wires":[["3561944f.4a557c"]]},{"id":"e93dda1.6e1cd28","type":"ui_chart","z":"e83f0c23.d5803","name":"Temperature Chart","group":"d597107c.2bd83","order":1,"width":0,"height":0,"label":"Historical Temperature","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"linear","nodata":"No data available yet","ymin":"10","ymax":"30","removeOlder":"3","removeOlderUnit":"3600","x":870,"y":780,"wires":[[],[]]},{"id":"7fe37cdc.f2b234","type":"delay","z":"e83f0c23.d5803","name":"Limit my rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":520,"wires":[[]]},{"id":"82b67a74.0c58d8","type":"function","z":"e83f0c23.d5803","name":"convert to value","func":"msg.value3 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["ea62915b.f78e5","8bd908f5.3be908"]]},{"id":"7e6345e6.de601c","type":"function","z":"e83f0c23.d5803","name":"get temp","func":"msg.payload = msg.payload.temp;\nmsg.topic=\"Mabel's Bedroom Temp\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":780,"wires":[["d616d11a.cd4c4","e93dda1.6e1cd28","ce0a60da.8cf5b"]]},{"id":"8ba48331.5c972","type":"mqtt in","z":"e83f0c23.d5803","name":"Mabels Room Temp","topic":"home/mabelbedroom/temp","qos":"0","broker":"e96680b6.aa4cb","x":110,"y":780,"wires":[["5023cbea.f719f4"]]},{"id":"d616d11a.cd4c4","type":"ui_gauge","z":"e83f0c23.d5803","name":"Temp 2","group":"d597107c.2bd83","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"","format":"{{value | number:1}} C","min":"10","max":"30","colors":["#002ab3","#e6e600","#ca3838"],"x":840,"y":840,"wires":[]},{"id":"5023cbea.f719f4","type":"json","z":"e83f0c23.d5803","name":"","x":330,"y":780,"wires":[["7e6345e6.de601c"]]},{"id":"2f79bdad.cb7342","type":"ui_switch","z":"e83f0c23.d5803","name":"Living Room Light Switch","label":"Light Switch","group":"34255daf.30d572","order":3,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":340,"wires":[["82b67a74.0c58d8"]]},{"id":"57239a0b.420794","type":"ui_chart","z":"a36bc775.f885b8","name":"CPU Temperature","group":"bf42bbd2.214468","order":5,"width":0,"height":0,"label":"CPU Temp","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"20","ymax":"70","removeOlder":"4","removeOlderUnit":"3600","x":1510,"y":220,"wires":[[],[]]},{"id":"cc6124a.2941fd8","type":"ui_chart","z":"a36bc775.f885b8","name":"CPU load chart","group":"bf42bbd2.214468","order":6,"width":0,"height":0,"label":"CPU Load","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderUnit":"3600","x":740,"y":240,"wires":[[],[]]},{"id":"365f09f8.1108f6","type":"inject","z":"e83f0c23.d5803","name":"CheerLights","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":1280,"y":760,"wires":[["ae3db19a.407be"]]},{"id":"ae3db19a.407be","type":"http request","z":"e83f0c23.d5803","name":"","method":"GET","ret":"obj","url":"http://api.thingspeak.com/channels/1417/field/2/last.json","tls":"","x":1490,"y":760,"wires":[[]]},{"id":"127ce5de.bbe53a","type":"mqtt out","z":"e83f0c23.d5803","name":"Heating switch","topic":"","qos":"0","retain":"","broker":"e96680b6.aa4cb","x":920,"y":1620,"wires":[]},{"id":"18d52303.36296d","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1720,"y":120,"wires":[[],[],[]]},{"id":"8f6d94f4.41b808","type":"change","z":"e83f0c23.d5803","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"4210709 ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":120,"wires":[["18d52303.36296d"]]},{"id":"5912f60c.779f98","type":"change","z":"e83f0c23.d5803","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"4210688","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":200,"wires":[["4bf6260d.2a6838"]]},{"id":"4bf6260d.2a6838","type":"exec","z":"e83f0c23.d5803","command":"sudo /home/pi/.node-red/node_modules/rpi-433/build/codesend --pin 1 --pulse-length 400 --code","addpay":true,"append":"","useSpawn":"","timer":"","name":"rpi-433","x":1720,"y":200,"wires":[[],[],[]]},{"id":"dc9135f8.7b5ab8","type":"switch","z":"e83f0c23.d5803","name":"on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","outputs":1,"x":1390,"y":120,"wires":[["8f6d94f4.41b808"]]},{"id":"6d7ced80.c62104","type":"switch","z":"e83f0c23.d5803","name":"off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","outputs":1,"x":1396.3334197998047,"y":200.33331298828125,"wires":[["5912f60c.779f98"]]},{"id":"3dca04f9.56ba2c","type":"ui_switch","z":"e83f0c23.d5803","name":"Light Switch","label":"Light Switch","group":"c7d0308d.cb953","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":1210.8334197998047,"y":159,"wires":[["dc9135f8.7b5ab8","6d7ced80.c62104"]]},{"id":"7db97d70.ac6714","type":"ui_form","z":"e83f0c23.d5803","name":"Set Weekday Temp","label":"Set Weekday Temperature","group":"23b9a0c2.4b415","order":6,"width":0,"height":0,"options":[{"label":"Set Morning Temp","value":"tempMorningWeekday","type":"number","required":true},{"label":"Set Daytime Temp","value":"tempDaytimeWeekday","type":"number","required":true},{"label":"Set Evening Temp","value":"tempEveningWeekday","type":"number","required":true},{"label":"Set Nightime Temp","value":"tempNightimeWeekday","type":"number","required":true}],"formValue":{"tempMorningWeekday":"","tempDaytimeWeekday":"","tempEveningWeekday":"","tempNightimeWeekday":""},"payload":"","topic":"","x":130,"y":1321,"wires":[["d7806789.79c368"]]},{"id":"578dc2b9.d8b50c","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":7,"width":0,"height":0,"name":"Morning Weekday Temp","label":"Desired Morning Weekday Temp","format":"{{msg.payload.tempMorningWeekday | uppercase}} &deg;","layout":"row-spread","x":770,"y":1300,"wires":[]},{"id":"d7806789.79c368","type":"function","z":"e83f0c23.d5803","name":"Set Desired Temp","func":"flow.set('tempMorningWeekday',msg.payload.tempMorningWeekday);\nflow.set('tempDaytimeWeekday',msg.payload.tempDaytimeWeekday);\nflow.set('tempEveningWeekday', msg.payload.tempEveningWeekday);\nflow.set('tempNightimeWeekday', msg.payload.tempNightimeWeekday);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1320,"wires":[["578dc2b9.d8b50c","cebc8834.1757f8","e147a073.7b9c5","647f334f.7b804c"]]},{"id":"811ffe0f.205b9","type":"inject","z":"e83f0c23.d5803","name":"Weekday Mornings Heating","topic":"","payload":"tempMorningWeekday","payloadType":"str","repeat":"","crontab":"*/1 6-8 * * 1,2,3,4,5","once":false,"x":180,"y":1520,"wires":[["187bd215.7151ce"]]},{"id":"f8448579.7e3548","type":"inject","z":"e83f0c23.d5803","name":"Weekday Daytime Heating","topic":"","payload":"tempDaytimeWeekday","payloadType":"str","repeat":"","crontab":"*/1 9-15 * * 1,2,3,4,5","once":false,"x":180,"y":1560,"wires":[["187bd215.7151ce"]]},{"id":"c7e54ecb.09482","type":"inject","z":"e83f0c23.d5803","name":"Weekday Evening Heating","topic":"","payload":"tempEveningWeekday","payloadType":"str","repeat":"","crontab":"*/1 16-21 * * 1,2,3,4,5","once":false,"x":180,"y":1600,"wires":[["187bd215.7151ce"]]},{"id":"187bd215.7151ce","type":"function","z":"e83f0c23.d5803","name":"check desired temp","func":"thermostat = flow.get(\"thermostat\");\ntemp = flow.get(thermostat.toString());\n\n\nif (flow.get(\"override\") == \"True\") {\n    msg.payload = \"ON\";\n    flow.set(\"Heating\",\"ON\");\n    node.status({fill:\"green\",shape:\"dot\",text:\"Override Heating On\"});\n} else {\n        if (flow.get(msg.payload) > temp) {\n            msg.payload = \"ON\";\n            flow.set(\"Heating\",\"ON\");\n            node.status({fill:\"green\",shape:\"dot\",text:\"Heating On\"});\n        }\n        else {\n            msg.payload = \"OFF\";\n            flow.set(\"Heating\",\"OFF\");\n            node.status({fill:\"red\",shape:\"dot\",text:\"Heating Off\"});\n        }\n}\nmsg.topic = \"home/heating\";\n\nreturn msg;","outputs":"1","noerr":0,"x":590,"y":1680,"wires":[["5f2a411f.c4391","127ce5de.bbe53a","214ca71a.eec758"]]},{"id":"cebc8834.1757f8","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":8,"width":0,"height":0,"name":"Daytime Weekday Temp","label":"Desired Daytime Weekday Temp","format":"{{msg.payload.tempDaytimeWeekday | uppercase}} &deg;","layout":"row-spread","x":770,"y":1340,"wires":[]},{"id":"e147a073.7b9c5","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":9,"width":0,"height":0,"name":"Evening Daytime Temp","label":"Desired Evening Daytime Temp","format":"{{msg.payload.tempEveningWeekday | uppercase}} &deg;","layout":"row-spread","x":770,"y":1380,"wires":[]},{"id":"a0b0a1c.fec906","type":"ui_form","z":"e83f0c23.d5803","name":"Set Weekend Temp","label":"Set Weekend Temperature","group":"23b9a0c2.4b415","order":10,"width":0,"height":0,"options":[{"label":"Morning Weeked Temp","value":"tempMorningWeekend","type":"number","required":true},{"label":"Daytime Weekend Temp","value":"tempDaytimeWeekend","type":"number","required":true},{"label":"Evening Weeked Temp","value":"tempEveningWeekend","type":"number","required":true},{"label":"Nightime Weekend Temp","value":"tempNightimeWeekend","type":"number","required":true}],"formValue":{"tempMorningWeekend":"","tempDaytimeWeekend":"","tempEveningWeekend":"","tempNightimeWeekend":""},"payload":"","topic":"","x":130,"y":1420,"wires":[["ff821fb2.4d7e4"]]},{"id":"ff821fb2.4d7e4","type":"function","z":"e83f0c23.d5803","name":"Set Desired Temp","func":"flow.set('tempMorningWeekend',msg.payload.tempMorningWeekend);\nflow.set('tempDaytimeWeekend',msg.payload.tempDaytimeWeekend);\nflow.set('tempEveningWeekend', msg.payload.tempEveningWeekend);\nflow.set('tempNightimeWeekend', msg.payload.tempNightimeWeekend);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1420,"wires":[["b1b1dd0.9e71d2","f0c7ea35.09c0c8","a16d5981.22ebf8","caaf0920.fdf058"]]},{"id":"b1b1dd0.9e71d2","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":11,"width":0,"height":0,"name":"Morning Weekend Temp","label":"Desired Morning Weekend Temp","format":"{{msg.payload.tempMorningWeekend | uppercase}} &deg;","layout":"row-spread","x":770,"y":1420,"wires":[]},{"id":"f0c7ea35.09c0c8","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":12,"width":0,"height":0,"name":"Daytime Weekend Temp","label":"Desired Daytime Weekend Temp","format":"{{msg.payload.tempDaytimeWeekend | uppercase}} &deg;","layout":"row-spread","x":770,"y":1460,"wires":[]},{"id":"a16d5981.22ebf8","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":13,"width":0,"height":0,"name":"Evening WeekendTemp","label":"Desired Evening Weekend Temp","format":"{{msg.payload.tempEveningWeekend | uppercase}} &deg;","layout":"row-spread","x":770,"y":1500,"wires":[]},{"id":"73815361.59ecfc","type":"inject","z":"e83f0c23.d5803","name":"Weekend Mornings Heating","topic":"","payload":"tempMorningWeekend","payloadType":"str","repeat":"","crontab":"*/1 6-8 * * 6,0","once":false,"x":180,"y":1720,"wires":[["187bd215.7151ce"]]},{"id":"6b46780a.4916e8","type":"inject","z":"e83f0c23.d5803","name":"Weekend Daytime Heating","topic":"","payload":"tempDaytimeWeekend","payloadType":"str","repeat":"","crontab":"*/1 9-15 * * 6,0","once":false,"x":180,"y":1760,"wires":[["187bd215.7151ce"]]},{"id":"63810f0a.50976","type":"inject","z":"e83f0c23.d5803","name":"Weekend Evening Heating","topic":"","payload":"tempEveningWeekend","payloadType":"str","repeat":"","crontab":"*/1 16-21 * * 6,0","once":false,"x":180,"y":1800,"wires":[["187bd215.7151ce"]]},{"id":"f093349d.a47408","type":"function","z":"e83f0c23.d5803","name":"Create timer","func":"timeOut = msg.payload * 60 * 1000;\n\n\nif (msg.payload ==\"CLEAR\") {\n    clearTimeout(flow.get(\"overriderTimer\"));\n    flow.set('override',\"False\");\n    node.status({fill:\"red\",shape:\"dot\",text:\"Not overriding\"}); \n}\nelse {\n    \n    node.status({fill:\"green\",shape:\"dot\",text:\"Overriding\"}); \n    \n    var myVar = setTimeout(function(){ \n        node.status({fill:\"red\",shape:\"dot\",text:\"Not overriding\"}); \n        \n       // node.send(msg);\n     \n      flow.set('override',\"False\");\n    }, timeOut);\n    \n    flow.set('override',\"True\");\n    flow.set('overrideTimer',myVar);\n}\n\nmsg.topic = 'home/heating'\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1980,"wires":[["187bd215.7151ce"]]},{"id":"c3950634.92a748","type":"ui_button","z":"e83f0c23.d5803","name":"Cancel Override","group":"23b9a0c2.4b415","order":4,"width":0,"height":0,"label":"Cancel Override","color":"","icon":"","payload":"CLEAR","payloadType":"str","topic":"","x":120,"y":2020,"wires":[["f093349d.a47408"]]},{"id":"795736a5.0b28c8","type":"ui_dropdown","z":"e83f0c23.d5803","name":"","label":"Use Thermostat In","group":"23b9a0c2.4b415","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"Mabel's Room","value":"MabelsRoom","type":"str"},{"label":"Living Room","value":"LivingRoom","type":"str"}],"payload":"","topic":"","x":130,"y":2080,"wires":[["26c235cb.fe2eea"]]},{"id":"26c235cb.fe2eea","type":"function","z":"e83f0c23.d5803","name":"Set Thermostat","func":"flow.set(\"thermostat\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2080,"wires":[[]]},{"id":"dd4c7439.df62f8","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"20.1","payloadType":"num","repeat":"","crontab":"","once":false,"x":670,"y":660,"wires":[["ce0a60da.8cf5b"]]},{"id":"4b396384.bf843c","type":"mqtt in","z":"e83f0c23.d5803","name":"Living Room Temp","topic":"home/livingroom/temp","qos":"0","broker":"e96680b6.aa4cb","x":110,"y":860,"wires":[["8b1f3cb4.8c07e"]]},{"id":"8b1f3cb4.8c07e","type":"json","z":"e83f0c23.d5803","name":"","x":330,"y":860,"wires":[["af3d2f19.0dfde"]]},{"id":"af3d2f19.0dfde","type":"function","z":"e83f0c23.d5803","name":"get temp","func":"msg.payload = msg.payload.temp;\nmsg.topic=\"Living Room Temp\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["8c5bdead.e4d3a","fca2b293.249a6","32b1857d.97b44a"]]},{"id":"8c5bdead.e4d3a","type":"function","z":"e83f0c23.d5803","name":"Persist Temperature","func":"flow.set('LivingRoom',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":903,"wires":[[]]},{"id":"65455af4.7cb094","type":"inject","z":"e83f0c23.d5803","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"x":757,"y":990,"wires":[["8c5bdead.e4d3a"]]},{"id":"3a2068ca.bb9e78","type":"ui_button","z":"e83f0c23.d5803","name":"Override","group":"23b9a0c2.4b415","order":3,"width":0,"height":0,"label":"Override Heating For 30 Mins","color":"","icon":"","payload":"30","payloadType":"str","topic":"","x":100,"y":1940,"wires":[["f093349d.a47408"]]},{"id":"5f2a411f.c4391","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":1,"width":0,"height":0,"name":"Heating Status","label":"Heating Status","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1680,"wires":[]},{"id":"d97cbc8a.8ba9a","type":"ui_button","z":"e83f0c23.d5803","name":"Override","group":"23b9a0c2.4b415","order":2,"width":0,"height":0,"label":"Override Heating for 15 mins","color":"","icon":"","payload":"15","payloadType":"str","topic":"","x":100,"y":1980,"wires":[["f093349d.a47408"]]},{"id":"fca2b293.249a6","type":"ui_gauge","z":"e83f0c23.d5803","name":"","group":"34255daf.30d572","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"","format":"{{value | number:1 }} C","min":"10","max":"30","colors":["#1809ac","#e6e600","#ca3838"],"x":703,"y":908,"wires":[]},{"id":"32b1857d.97b44a","type":"ui_chart","z":"e83f0c23.d5803","name":"","group":"34255daf.30d572","order":1,"width":0,"height":0,"label":"Historical Temperature","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"linear","nodata":"","ymin":"10","ymax":"30","removeOlder":"3","removeOlderUnit":"3600","x":613,"y":972,"wires":[[],[]]},{"id":"caaf0920.fdf058","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":13,"width":0,"height":0,"name":"Nightime Weekend Temp","label":"Desired Nightime Weekend Temp","format":"{{msg.payload.tempNightimeWeekend | uppercase}} &deg;","layout":"row-spread","x":770,"y":1540,"wires":[]},{"id":"647f334f.7b804c","type":"ui_text","z":"e83f0c23.d5803","group":"23b9a0c2.4b415","order":9,"width":0,"height":0,"name":"Nightime Daytime Temp","label":"Desired Nightime Daytime Temp","format":"{{msg.payload.tempNightimeWeekday | uppercase}} &deg;","layout":"row-spread","x":770,"y":1260,"wires":[]},{"id":"84317345.b5874","type":"inject","z":"e83f0c23.d5803","name":"Weekend Nightime Heating","topic":"","payload":"tempNightimeWeekend","payloadType":"str","repeat":"","crontab":"*/1 22-23 * * 6,0","once":false,"x":180,"y":1840,"wires":[["187bd215.7151ce"]]},{"id":"cce071f6.d245b","type":"inject","z":"e83f0c23.d5803","name":"Weekday Nightime Heating","topic":"","payload":"tempNightimeWeekday","payloadType":"str","repeat":"","crontab":"*/1 22-23 * * 1,2,3,4,5","once":false,"x":180,"y":1640,"wires":[["187bd215.7151ce"]]},{"id":"7dc1f7e6.7c0af8","type":"inject","z":"e83f0c23.d5803","name":"Weekday Nightime Heating","topic":"","payload":"tempNightimeWeekday","payloadType":"str","repeat":"","crontab":"*/1 0-5 * * 1,2,3,4,5","once":false,"x":180,"y":1680,"wires":[["187bd215.7151ce"]]},{"id":"7e5d0447.164e2c","type":"inject","z":"e83f0c23.d5803","name":"Weekend Nightime Heating","topic":"","payload":"tempNightimeWeekend","payloadType":"str","repeat":"","crontab":"*/1 0-5 * * 6,0","once":false,"x":180,"y":1880,"wires":[["187bd215.7151ce"]]},{"id":"993b9c9c.4419b","type":"http request","z":"e83f0c23.d5803","name":"Weather API request","method":"GET","ret":"obj","url":"api.openweathermap.org/data/2.5/weather?id=2641181&APPID=0f22142f217917fa55ae3ad2d5ef40c8&units=metric","tls":"","x":400,"y":2160,"wires":[["838279b4.ef13a8"]]},{"id":"9d266726.94c3d8","type":"inject","z":"e83f0c23.d5803","name":"5 minutes interval","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":150,"y":2160,"wires":[["993b9c9c.4419b"]]},{"id":"572626af.008598","type":"ui_gauge","z":"e83f0c23.d5803","name":"","group":"4e90f6db.fd0d78","order":0,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"","format":"{{value | number:1 }} C","min":"-10","max":"35","colors":["#0e38a7","#00ace6","#ca3838"],"x":790,"y":2160,"wires":[]},{"id":"838279b4.ef13a8","type":"function","z":"e83f0c23.d5803","name":"get temp","func":"msg.payload = msg.payload.main.temp\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2160,"wires":[["572626af.008598"]]},{"id":"19412637.9eb0ea","type":"ui_chart","z":"e83f0c23.d5803","name":"","group":"23b9a0c2.4b415","order":0,"width":0,"height":0,"label":"Historical Heating","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"linear","nodata":"No data Sucker","ymin":"0","ymax":"1","removeOlder":"12","removeOlderUnit":"3600","x":1130,"y":1740,"wires":[[],[]]},{"id":"214ca71a.eec758","type":"function","z":"e83f0c23.d5803","name":"convert to binary","func":"if (msg.payload == \"ON\") msg.payload = 1;\nif (msg.payload == \"OFF\") msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1740,"wires":[["19412637.9eb0ea"]]}]